# Import Necessary Libraries

In [90]:
import pandas as pd
import gzip
import shutil

# Exploratory Data Analysis (EDA)

## Calendar Data

In [91]:
raw_calendar_data = pd.read_csv('../Data/AirBnB/Asheville/2022/asheville_calendar.csv', compression='gzip')
raw_calendar_data

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,5868695,2022-09-14,f,$300.00,$240.00,4,1125
1,5868695,2022-09-15,f,$300.00,$240.00,4,1125
2,5868695,2022-09-16,f,$400.00,$320.00,4,1125
3,5868695,2022-09-17,f,$400.00,$320.00,4,1125
4,5868695,2022-09-18,f,$300.00,$240.00,4,1125
...,...,...,...,...,...,...,...
1098280,11510567,2023-09-09,t,$130.00,$130.00,2,1125
1098281,11510567,2023-09-10,t,$130.00,$130.00,2,1125
1098282,11510567,2023-09-11,t,$130.00,$130.00,2,1125
1098283,11510567,2023-09-12,t,$130.00,$130.00,2,1125
1098284,11510567,2023-09-13,t,$130.00,$130.00,2,1125

In [92]:
raw_calendar_data['price'].isna().sum()

0

In [93]:
raw_calendar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098285 entries, 0 to 1098284
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   listing_id      1098285 non-null  int64
 1   date            1098285 non-null  object
 2   available       1098285 non-null  object
 3   price           1098285 non-null  object
 4   adjusted_price  1098285 non-null  object
 5   minimum_nights  1098285 non-null  int64
 6   maximum_nights  1098285 non-null  int64
dtypes: int64(3), object(4)
memory usage: 58.7+ MB

In [94]:
mod_calendar_data = raw_calendar_data
mod_calendar_data['date'] = pd.to_datetime(raw_calendar_data['date'])

In [95]:
mod_calendar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098285 entries, 0 to 1098284
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   listing_id      1098285 non-null  int64
 1   date            1098285 non-null  datetime64[ns]
 2   available       1098285 non-null  object
 3   price           1098285 non-null  object
 4   adjusted_price  1098285 non-null  object
 5   minimum_nights  1098285 non-null  int64
 6   maximum_nights  1098285 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 58.7+ MB

In [96]:
raw_calendar_data['date'].min()

Timestamp('2022-09-14 00:00:00')

In [97]:
raw_calendar_data['date'].max()

Timestamp('2023-09-14 00:00:00')

In [98]:
mod_calendar_data['price'].isna().sum()

0

In [99]:
mod_calendar_data['available'].value_counts()

t    602662
f    495623
Name: available, dtype: int64

In [100]:
mod_calendar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098285 entries, 0 to 1098284
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   listing_id      1098285 non-null  int64
 1   date            1098285 non-null  datetime64[ns]
 2   available       1098285 non-null  object
 3   price           1098285 non-null  object
 4   adjusted_price  1098285 non-null  object
 5   minimum_nights  1098285 non-null  int64
 6   maximum_nights  1098285 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 58.7+ MB

In [101]:
mod_calendar_data['price'].value_counts()

$125.00      28816
$150.00      28256
$100.00      22632
$95.00       20149
$75.00       16726
             ...
$2,382.00        1
$2,390.00        1
$2,191.00        1
$2,485.00        1
$2,047.00        1
Name: price, Length: 2497, dtype: int64

In [102]:
mod_calendar_data['price'] = mod_calendar_data['price'].str.replace('$', '')
mod_calendar_data['price'] = mod_calendar_data['price'].str.replace('.', '')
mod_calendar_data['price'] = mod_calendar_data['price'].str.replace(',', '')

/var/folders/vj/wwng1wrx4433kjdgg3pdcmbc0000gn/T/ipykernel_79722/4068794914.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  mod_calendar_data['price'] = mod_calendar_data['price'].str.replace('$', '')
/var/folders/vj/wwng1wrx4433kjdgg3pdcmbc0000gn/T/ipykernel_79722/4068794914.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  mod_calendar_data['price'] = mod_calendar_data['price'].str.replace('.', '')

In [103]:
mod_calendar_data['price'].isna().sum()

0

In [104]:
mod_calendar_data['price'] = mod_calendar_data['price'].fillna(0)

In [105]:
mod_calendar_data['price'].isna().sum()

0

In [106]:
#Replace the false and true values with 0 and 1
mod_calendar_data['available'] = mod_calendar_data['available'].replace(['f', 't'],[0, 1])
mod_calendar_data['price'] = mod_calendar_data['price'].astype({'price':'int'})
mod_calendar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098285 entries, 0 to 1098284
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   listing_id      1098285 non-null  int64
 1   date            1098285 non-null  datetime64[ns]
 2   available       1098285 non-null  int64
 3   price           1098285 non-null  int64
 4   adjusted_price  1098285 non-null  object
 5   minimum_nights  1098285 non-null  int64
 6   maximum_nights  1098285 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 58.7+ MB

In [107]:
mod_calendar_data_id_avail = mod_calendar_data.groupby(['listing_id']).sum()
mod_calendar_data_id_avail = mod_calendar_data_id_avail.reset_index()
mod_calendar_data_id_avail = mod_calendar_data_id_avail.drop(['price'], axis = 1)
mod_calendar_data_id_avail['perc_year_avail'] = mod_calendar_data_id_avail['available'] / 365
mod_calendar_data_id_avail = mod_calendar_data_id_avail.drop(['available'], axis = 1)
mod_calendar_data_id_avail

/var/folders/vj/wwng1wrx4433kjdgg3pdcmbc0000gn/T/ipykernel_79722/4204810471.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mod_calendar_data_id_avail = mod_calendar_data.groupby(['listing_id']).sum()

              listing_id  minimum_nights  maximum_nights  perc_year_avail
0                 108061           10950          410625         0.849315
1                 155305             365           93845         0.230137
2                 156805             365          133225         0.000000
3                 156926             365           93498         0.290411
4                 197263             730            1460         0.191781
...                  ...             ...             ...              ...
3004  713172242078826529           10950          410625         0.638356
3005  713602141169271399             748          410625         0.427397
3006  714377701528965422             963          133225         0.868493
3007  714523729471504500             730          133225         0.802740
3008  715114759668615418            1095            5110         0.712329

[3009 rows x 4 columns]

## Listings Data

In [108]:
raw_listings_data = pd.read_csv('../Data/AirBnB/Asheville/2022/asheville_listings.csv')
raw_listings_data.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,108061,https://www.airbnb.com/rooms/108061,20220914194751,2022-09-14,city scrape,Walk to stores/parks/downtown. Fenced yard/Pet...,Walk to town in ten minutes! Monthly rental $1...,"I love my neighborhood! Its friendly, easy-goi...",https://a0.muscache.com/pictures/41011975/0cdf...,320564,...,4.79,4.84,4.48,NaN,f,2,2,0,0,0.67
1,155305,https://www.airbnb.com/rooms/155305,20220914194751,2022-09-14,city scrape,Cottage! BonPaul + Sharky's Hostel,<b>The space</b><br />Private cottage located ...,"We are within easy walk of pubs, breweries, mu...",https://a0.muscache.com/pictures/8880711/cf38d...,746673,...,4.74,4.93,4.54,NaN,t,7,1,2,4,2.72
2,156805,https://www.airbnb.com/rooms/156805,20220914194751,2022-09-14,previous scrape,"Private Room ""Ader"" at BPS Hostel",<b>The space</b><br />Private Rooms at Bon Pau...,"Easy walk to pubs, cafes, bakery, breweries, l...",https://a0.muscache.com/pictures/23447d55-fa7e...,746673,...,4.61,4.84,4.46,NaN,t,7,1,2,4,0.50
3,156926,https://www.airbnb.com/rooms/156926,20220914194751,2022-09-14,city scrape,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",This is a top bunk in the mixed dorm room<br /...,NaN,https://a0.muscache.com/pictures/98f4e655-c4d6...,746673,...,4.80,4.79,4.79,NaN,t,7,1,2,4,2.34
4,197263,https://www.airbnb.com/rooms/197263,20220914194751,2022-09-14,city scrape,Tranquil Room & Private Bath,"This is a comfy, peaceful and clean room with ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,961396,...,4.92,4.82,4.98,NaN,f,2,1,1,0,0.49

In [109]:
raw_listings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            3009 non-null   int64
 1   listing_url                                   3009 non-null   object
 2   scrape_id                                     3009 non-null   int64
 3   last_scraped                                  3009 non-null   object
 4   source                                        3009 non-null   object
 5   name                                          3009 non-null   object
 6   description                                   3004 non-null   object
 7   neighborhood_overview                         2290 non-null   object
 8   picture_url                                   3009 non-null   object
 9   host_id                                       3009 non-null   int64
 10  host_url                                      3009 non-null   object
 11  host_name                                     3009 non-null   object
 12  host_since                                    3009 non-null   object
 13  host_location                                 2604 non-null   object
 14  host_about                                    1929 non-null   object
 15  host_response_time                            2722 non-null   object
 16  host_response_rate                            2722 non-null   object
 17  host_acceptance_rate                          2850 non-null   object
 18  host_is_superhost                             3009 non-null   object
 19  host_thumbnail_url                            3009 non-null   object
 20  host_picture_url                              3009 non-null   object
 21  host_neighbourhood                            925 non-null    object
 22  host_listings_count                           3009 non-null   int64
 23  host_total_listings_count                     3009 non-null   int64
 24  host_verifications                            3009 non-null   object
 25  host_has_profile_pic                          3009 non-null   object
 26  host_identity_verified                        3009 non-null   object
 27  neighbourhood                                 2291 non-null   object
 28  neighbourhood_cleansed                        3009 non-null   int64
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      3009 non-null   float64
 31  longitude                                     3009 non-null   float64
 32  property_type                                 3009 non-null   object
 33  room_type                                     3009 non-null   object
 34  accommodates                                  3009 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                3008 non-null   object
 37  bedrooms                                      2850 non-null   float64
 38  beds                                          2980 non-null   float64
 39  amenities                                     3009 non-null   object
 40  price                                         3009 non-null   object
 41  minimum_nights                                3009 non-null   int64
 42  maximum_nights                                3009 non-null   int64
 43  minimum_minimum_nights                        3009 non-null   int64
 44  maximum_minimum_nights                        3009 non-null   int64
 45  minimum_maximum_nights                        3009 non-null   int64
 46  maximum_maximum_nights                        3009 non-null   int64
 47  minimum_nights_avg_ntm                        3009 non-null   float64
 48  maximum_nights_avg_ntm                        3009 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              3009 non-null   object
 51  availability_30                               3009 non-null   int64
 52  availability_60                               3009 non-null   int64
 53  availability_90                               3009 non-null   int64
 54  availability_365                              3009 non-null   int64
 55  calendar_last_scraped                         3009 non-null   object
 56  number_of_reviews                             3009 non-null   int64
 57  number_of_reviews_ltm                         3009 non-null   int64
 58  number_of_reviews_l30d                        3009 non-null   int64
 59  first_review                                  2817 non-null   object
 60  last_review                                   2817 non-null   object
 61  review_scores_rating                          2817 non-null   float64
 62  review_scores_accuracy                        2816 non-null   float64
 63  review_scores_cleanliness                     2816 non-null   float64
 64  review_scores_checkin                         2816 non-null   float64
 65  review_scores_communication                   2816 non-null   float64
 66  review_scores_location                        2816 non-null   float64
 67  review_scores_value                           2816 non-null   float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              3009 non-null   object
 70  calculated_host_listings_count                3009 non-null   int64
 71  calculated_host_listings_count_entire_homes   3009 non-null   int64
 72  calculated_host_listings_count_private_rooms  3009 non-null   int64
 73  calculated_host_listings_count_shared_rooms   3009 non-null   int64
 74  reviews_per_month                             2817 non-null   float64
dtypes: float64(18), int64(24), object(33)
memory usage: 1.7+ MB

In [110]:
listings_data_summ = pd.read_csv('../Data/AirBnB/Asheville/2022/asheville_listings.csv')
listings_data_summ.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,108061,https://www.airbnb.com/rooms/108061,20220914194751,2022-09-14,city scrape,Walk to stores/parks/downtown. Fenced yard/Pet...,Walk to town in ten minutes! Monthly rental $1...,"I love my neighborhood! Its friendly, easy-goi...",https://a0.muscache.com/pictures/41011975/0cdf...,320564,...,4.79,4.84,4.48,NaN,f,2,2,0,0,0.67
1,155305,https://www.airbnb.com/rooms/155305,20220914194751,2022-09-14,city scrape,Cottage! BonPaul + Sharky's Hostel,<b>The space</b><br />Private cottage located ...,"We are within easy walk of pubs, breweries, mu...",https://a0.muscache.com/pictures/8880711/cf38d...,746673,...,4.74,4.93,4.54,NaN,t,7,1,2,4,2.72
2,156805,https://www.airbnb.com/rooms/156805,20220914194751,2022-09-14,previous scrape,"Private Room ""Ader"" at BPS Hostel",<b>The space</b><br />Private Rooms at Bon Pau...,"Easy walk to pubs, cafes, bakery, breweries, l...",https://a0.muscache.com/pictures/23447d55-fa7e...,746673,...,4.61,4.84,4.46,NaN,t,7,1,2,4,0.50
3,156926,https://www.airbnb.com/rooms/156926,20220914194751,2022-09-14,city scrape,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",This is a top bunk in the mixed dorm room<br /...,NaN,https://a0.muscache.com/pictures/98f4e655-c4d6...,746673,...,4.80,4.79,4.79,NaN,t,7,1,2,4,2.34
4,197263,https://www.airbnb.com/rooms/197263,20220914194751,2022-09-14,city scrape,Tranquil Room & Private Bath,"This is a comfy, peaceful and clean room with ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,961396,...,4.92,4.82,4.98,NaN,f,2,1,1,0,0.49

In [111]:
listings_data_summ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            3009 non-null   int64
 1   listing_url                                   3009 non-null   object
 2   scrape_id                                     3009 non-null   int64
 3   last_scraped                                  3009 non-null   object
 4   source                                        3009 non-null   object
 5   name                                          3009 non-null   object
 6   description                                   3004 non-null   object
 7   neighborhood_overview                         2290 non-null   object
 8   picture_url                                   3009 non-null   object
 9   host_id                                       3009 non-null   int64
 10  host_url                                      3009 non-null   object
 11  host_name                                     3009 non-null   object
 12  host_since                                    3009 non-null   object
 13  host_location                                 2604 non-null   object
 14  host_about                                    1929 non-null   object
 15  host_response_time                            2722 non-null   object
 16  host_response_rate                            2722 non-null   object
 17  host_acceptance_rate                          2850 non-null   object
 18  host_is_superhost                             3009 non-null   object
 19  host_thumbnail_url                            3009 non-null   object
 20  host_picture_url                              3009 non-null   object
 21  host_neighbourhood                            925 non-null    object
 22  host_listings_count                           3009 non-null   int64
 23  host_total_listings_count                     3009 non-null   int64
 24  host_verifications                            3009 non-null   object
 25  host_has_profile_pic                          3009 non-null   object
 26  host_identity_verified                        3009 non-null   object
 27  neighbourhood                                 2291 non-null   object
 28  neighbourhood_cleansed                        3009 non-null   int64
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      3009 non-null   float64
 31  longitude                                     3009 non-null   float64
 32  property_type                                 3009 non-null   object
 33  room_type                                     3009 non-null   object
 34  accommodates                                  3009 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                3008 non-null   object
 37  bedrooms                                      2850 non-null   float64
 38  beds                                          2980 non-null   float64
 39  amenities                                     3009 non-null   object
 40  price                                         3009 non-null   object
 41  minimum_nights                                3009 non-null   int64
 42  maximum_nights                                3009 non-null   int64
 43  minimum_minimum_nights                        3009 non-null   int64
 44  maximum_minimum_nights                        3009 non-null   int64
 45  minimum_maximum_nights                        3009 non-null   int64
 46  maximum_maximum_nights                        3009 non-null   int64
 47  minimum_nights_avg_ntm                        3009 non-null   float64
 48  maximum_nights_avg_ntm                        3009 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              3009 non-null   object
 51  availability_30                               3009 non-null   int64
 52  availability_60                               3009 non-null   int64
 53  availability_90                               3009 non-null   int64
 54  availability_365                              3009 non-null   int64
 55  calendar_last_scraped                         3009 non-null   object
 56  number_of_reviews                             3009 non-null   int64
 57  number_of_reviews_ltm                         3009 non-null   int64
 58  number_of_reviews_l30d                        3009 non-null   int64
 59  first_review                                  2817 non-null   object
 60  last_review                                   2817 non-null   object
 61  review_scores_rating                          2817 non-null   float64
 62  review_scores_accuracy                        2816 non-null   float64
 63  review_scores_cleanliness                     2816 non-null   float64
 64  review_scores_checkin                         2816 non-null   float64
 65  review_scores_communication                   2816 non-null   float64
 66  review_scores_location                        2816 non-null   float64
 67  review_scores_value                           2816 non-null   float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              3009 non-null   object
 70  calculated_host_listings_count                3009 non-null   int64
 71  calculated_host_listings_count_entire_homes   3009 non-null   int64
 72  calculated_host_listings_count_private_rooms  3009 non-null   int64
 73  calculated_host_listings_count_shared_rooms   3009 non-null   int64
 74  reviews_per_month                             2817 non-null   float64
dtypes: float64(18), int64(24), object(33)
memory usage: 1.7+ MB

In [112]:
raw_listings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            3009 non-null   int64
 1   listing_url                                   3009 non-null   object
 2   scrape_id                                     3009 non-null   int64
 3   last_scraped                                  3009 non-null   object
 4   source                                        3009 non-null   object
 5   name                                          3009 non-null   object
 6   description                                   3004 non-null   object
 7   neighborhood_overview                         2290 non-null   object
 8   picture_url                                   3009 non-null   object
 9   host_id                                       3009 non-null   int64
 10  host_url                                      3009 non-null   object
 11  host_name                                     3009 non-null   object
 12  host_since                                    3009 non-null   object
 13  host_location                                 2604 non-null   object
 14  host_about                                    1929 non-null   object
 15  host_response_time                            2722 non-null   object
 16  host_response_rate                            2722 non-null   object
 17  host_acceptance_rate                          2850 non-null   object
 18  host_is_superhost                             3009 non-null   object
 19  host_thumbnail_url                            3009 non-null   object
 20  host_picture_url                              3009 non-null   object
 21  host_neighbourhood                            925 non-null    object
 22  host_listings_count                           3009 non-null   int64
 23  host_total_listings_count                     3009 non-null   int64
 24  host_verifications                            3009 non-null   object
 25  host_has_profile_pic                          3009 non-null   object
 26  host_identity_verified                        3009 non-null   object
 27  neighbourhood                                 2291 non-null   object
 28  neighbourhood_cleansed                        3009 non-null   int64
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      3009 non-null   float64
 31  longitude                                     3009 non-null   float64
 32  property_type                                 3009 non-null   object
 33  room_type                                     3009 non-null   object
 34  accommodates                                  3009 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                3008 non-null   object
 37  bedrooms                                      2850 non-null   float64
 38  beds                                          2980 non-null   float64
 39  amenities                                     3009 non-null   object
 40  price                                         3009 non-null   object
 41  minimum_nights                                3009 non-null   int64
 42  maximum_nights                                3009 non-null   int64
 43  minimum_minimum_nights                        3009 non-null   int64
 44  maximum_minimum_nights                        3009 non-null   int64
 45  minimum_maximum_nights                        3009 non-null   int64
 46  maximum_maximum_nights                        3009 non-null   int64
 47  minimum_nights_avg_ntm                        3009 non-null   float64
 48  maximum_nights_avg_ntm                        3009 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              3009 non-null   object
 51  availability_30                               3009 non-null   int64
 52  availability_60                               3009 non-null   int64
 53  availability_90                               3009 non-null   int64
 54  availability_365                              3009 non-null   int64
 55  calendar_last_scraped                         3009 non-null   object
 56  number_of_reviews                             3009 non-null   int64
 57  number_of_reviews_ltm                         3009 non-null   int64
 58  number_of_reviews_l30d                        3009 non-null   int64
 59  first_review                                  2817 non-null   object
 60  last_review                                   2817 non-null   object
 61  review_scores_rating                          2817 non-null   float64
 62  review_scores_accuracy                        2816 non-null   float64
 63  review_scores_cleanliness                     2816 non-null   float64
 64  review_scores_checkin                         2816 non-null   float64
 65  review_scores_communication                   2816 non-null   float64
 66  review_scores_location                        2816 non-null   float64
 67  review_scores_value                           2816 non-null   float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              3009 non-null   object
 70  calculated_host_listings_count                3009 non-null   int64
 71  calculated_host_listings_count_entire_homes   3009 non-null   int64
 72  calculated_host_listings_count_private_rooms  3009 non-null   int64
 73  calculated_host_listings_count_shared_rooms   3009 non-null   int64
 74  reviews_per_month                             2817 non-null   float64
dtypes: float64(18), int64(24), object(33)
memory usage: 1.7+ MB

In [113]:
#Remove irrelevant review columns
mod_listing_data = raw_listings_data.drop(labels = ['review_scores_accuracy', 
                                           'review_scores_cleanliness', 
                                           'review_scores_checkin', 
                                           'review_scores_communication', 
                                           'review_scores_location'], axis = 1)

In [114]:
#Remove irrelevant host columns
mod_listing_data = mod_listing_data.drop(labels = ['host_name', 
                                                   'host_since', 
                                                   'host_location', 
                                                   'host_about', 
                                                   'host_response_time', 
                                                   'host_acceptance_rate',
                                                   'host_thumbnail_url', 
                                                   'host_picture_url', 
                                                   'host_neighbourhood', 
                                                   'host_listings_count', 
                                                   'host_total_listings_count', 
                                                   'host_verifications', 
                                                   'host_has_profile_pic',
                                                   'first_review',
                                                   'last_review'], axis = 1)

In [115]:
#Remove columns with all nulls
# mod_listing_data = mod_listing_data.drop(labels = ['neighbourhood_group_cleansed',
#                                                    'square_feet',
#                                                    'has_availability',
#                                                    'license',
#                                                    'jurisdiction_names'], axis = 1)

In [116]:
# #Remove columns with all text
# mod_listing_data = mod_listing_data.drop(labels = ['summary',
#                                                    'space',
#                                                    'description',
#                                                    'experiences_offered',
#                                                    'neighborhood_overview',
#                                                    'notes',
#                                                    'transit',
#                                                    'is_location_exact',
#                                                    'guests_included',
#                                                    'extra_people',
#                                                    'availability_30',
#                                                    'availability_60',
#                                                    'availability_90',
#                                                    'requires_license',
#                                                    'instant_bookable',
#                                                    'cancellation_policy',
#                                                    'require_guest_profile_picture',
#                                                    'require_guest_phone_verification',
#                                                    'calculated_host_listings_count',
#                                                    'reviews_per_month',
#                                                    'access',
#                                                    'interaction',
#                                                    'house_rules',
#                                                    'country',
#                                                    'country_code',
#                                                    'availability_365',
#                                                    'xl_picture_url',
#                                                    'weekly_price',
#                                                    'monthly_price'], axis = 1)

In [117]:
# mod_listing_data = mod_listing_data.loc[mod_listing_data['market'] == 'Boston']

In [118]:
# #Rename price to be average price
# mod_listing_data['avg_listing_price'] = mod_listing_data['price']
# mod_listing_data = mod_listing_data.drop(labels = ['price'], axis = 1)

In [119]:
# mod_listing_data['calendar_last_scraped '].value_counts()

In [120]:
# #Revisit
#     #Smart Location
# mod_listing_data.info()

## Reviews Data

In [121]:
raw_reviews_data = pd.read_csv('../Data/AirBnB/Asheville/2022/asheville_reviews.csv')
raw_reviews_data.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,108061,553741,2011-09-21,822907,Pedro & Katie,"Lisa is superb hostess, she will treat you lik..."
1,108061,683278,2011-11-01,236064,Tim,This was a lovely little place walking distanc...
2,108061,714889,2011-11-13,1382707,Shane,"Lisa was very nice to work with. However, we ..."
3,108061,1766157,2012-07-21,416731,Brenda,I feel very lucky to have found this beautiful...
4,108061,2033065,2012-08-19,1858880,Lindsey,"Great roomy little apartment, beautiful privat..."

In [122]:
raw_reviews_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279269 entries, 0 to 279268
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     279269 non-null  int64
 1   id             279269 non-null  int64
 2   date           279269 non-null  object
 3   reviewer_id    279269 non-null  int64
 4   reviewer_name  279269 non-null  object
 5   comments       279220 non-null  object
dtypes: int64(3), object(3)
memory usage: 12.8+ MB