# Import Necessary Libraries

In [55]:
import pandas as pd
import gzip
import shutil

# Exploratory Data Analysis (EDA)

## Calendar Data - 2022

In [56]:
#Load raw calendar data from file
raw_calendar_data = pd.read_csv('../Data/AirBnB/Asheville/2021/asheville_calendar_2021.csv', compression='gzip')
raw_calendar_data

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,881707,2021-12-15,f,$93.00,$93.00,1,1125
1,910737,2021-12-15,t,$156.00,$156.00,2,1125
2,910737,2021-12-16,t,$156.00,$156.00,2,1125
3,910737,2021-12-17,f,$135.00,$135.00,2,1125
4,910737,2021-12-18,f,$135.00,$135.00,2,1125
...,...,...,...,...,...,...,...
958485,51875440,2022-12-10,t,$807.00,$807.00,5,365
958486,51875440,2022-12-11,t,$718.00,$718.00,5,365
958487,51875440,2022-12-12,t,$706.00,$706.00,5,365
958488,51875440,2022-12-13,t,$696.00,$696.00,5,365
958489,51875440,2022-12-14,t,$687.00,$687.00,5,365

In [57]:
#Check the info / types of data
raw_calendar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958490 entries, 0 to 958489
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   listing_id      958490 non-null  int64
 1   date            958490 non-null  object
 2   available       958490 non-null  object
 3   price           958319 non-null  object
 4   adjusted_price  958319 non-null  object
 5   minimum_nights  958490 non-null  int64
 6   maximum_nights  958490 non-null  int64
dtypes: int64(3), object(4)
memory usage: 51.2+ MB

In [58]:
#Convert date column to date-times type
mod_calendar_data = raw_calendar_data
mod_calendar_data['date'] = pd.to_datetime(raw_calendar_data['date'])

#Confirm the info / types of data
mod_calendar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958490 entries, 0 to 958489
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   listing_id      958490 non-null  int64
 1   date            958490 non-null  datetime64[ns]
 2   available       958490 non-null  object
 3   price           958319 non-null  object
 4   adjusted_price  958319 non-null  object
 5   minimum_nights  958490 non-null  int64
 6   maximum_nights  958490 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 51.2+ MB

In [59]:
print(f"Earliest date of data set {raw_calendar_data['date'].min()}")
print(f"Latest date of data set {raw_calendar_data['date'].max()}")

Earliest date of data set 2021-12-15 00:00:00
Latest date of data set 2022-12-17 00:00:00

In [60]:
#Check Values of 'Available column'
mod_calendar_data['available'].value_counts()

t    532541
f    425949
Name: available, dtype: int64

In [61]:
#Replace the false and true values with 0 and 1
mod_calendar_data['available'] = mod_calendar_data['available'].replace(['f', 't'],[0, 1])

#Confirm available are now integers
mod_calendar_data['available'].value_counts()

1    532541
0    425949
Name: available, dtype: int64

In [62]:
mod_calendar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958490 entries, 0 to 958489
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   listing_id      958490 non-null  int64
 1   date            958490 non-null  datetime64[ns]
 2   available       958490 non-null  int64
 3   price           958319 non-null  object
 4   adjusted_price  958319 non-null  object
 5   minimum_nights  958490 non-null  int64
 6   maximum_nights  958490 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 51.2+ MB

In [63]:
mod_calendar_data['price'].value_counts()

$125.00      29854
$150.00      24356
$99.00       19492
$95.00       19240
$250.00      16814
             ...
$1,391.00        1
$1,304.00        1
$1,711.00        1
$2,445.00        1
$1,322.00        1
Name: price, Length: 2100, dtype: int64

In [64]:
mod_calendar_data['price'].isna().sum()

171

In [65]:
mod_calendar_data['adjusted_price'].value_counts()

$125.00      28413
$150.00      24264
$99.00       19561
$95.00       19077
$250.00      16475
             ...
$1,565.00        1
$1,166.00        1
$1,728.00        1
$1,688.00        1
$1,322.00        1
Name: adjusted_price, Length: 2097, dtype: int64

In [66]:
nan_cols = mod_calendar_data[mod_calendar_data['price'].isna()]
nan_cols['listing_id'].value_counts()

47732580    171
Name: listing_id, dtype: int64

In [67]:
bnb_to_drop = mod_calendar_data[(mod_calendar_data['listing_id'] == 47732580)].index
mod_calendar_data = mod_calendar_data.drop(bnb_to_drop)
mod_calendar_data['price'].isna().sum()

0

In [68]:
mod_calendar_data['price']

0          $93.00
1         $156.00
2         $156.00
3         $135.00
4         $135.00
           ...
958485    $807.00
958486    $718.00
958487    $706.00
958488    $696.00
958489    $687.00
Name: price, Length: 958125, dtype: object

In [69]:
test_price_df = mod_calendar_data['price'].str.split(".", expand=True)
test_price_df = test_price_df.rename(columns = {0 : 'daily_price'})
test_price_df = test_price_df.drop(labels = [1], axis = 1)
mod_calendar_data = test_price_df.join(mod_calendar_data, how = 'left')
mod_calendar_data['daily_price'] = mod_calendar_data['daily_price'].str.replace('$', '')
mod_calendar_data['daily_price'] = mod_calendar_data['daily_price'].str.replace(',', '')
mod_calendar_data['daily_price'] = mod_calendar_data['daily_price'].astype({'daily_price':'int'})
mod_calendar_data = mod_calendar_data.drop(labels = ['adjusted_price', 'price'], axis = 1)

id_to_move = mod_calendar_data.pop('listing_id')
mod_calendar_data.insert(0, 'listing_id', id_to_move)
mod_calendar_data

/var/folders/vj/wwng1wrx4433kjdgg3pdcmbc0000gn/T/ipykernel_25083/3967628597.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  mod_calendar_data['daily_price'] = mod_calendar_data['daily_price'].str.replace('$', '')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 958125 entries, 0 to 958489
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   listing_id      958125 non-null  int64
 1   daily_price     958125 non-null  int64
 2   date            958125 non-null  datetime64[ns]
 3   available       958125 non-null  int64
 4   minimum_nights  958125 non-null  int64
 5   maximum_nights  958125 non-null  int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 83.4 MB

,listing_id,daily_price,date,available,minimum_nights,maximum_nights
0,881707,93,2021-12-15,0,1,1125
1,910737,156,2021-12-15,1,2,1125
2,910737,156,2021-12-16,1,2,1125
3,910737,135,2021-12-17,0,2,1125
4,910737,135,2021-12-18,0,2,1125
...,...,...,...,...,...,...
958485,51875440,807,2022-12-10,1,5,365
958486,51875440,718,2022-12-11,1,5,365
958487,51875440,706,2022-12-12,1,5,365
958488,51875440,696,2022-12-13,1,5,365
958489,51875440,687,2022-12-14,1,5,365

In [70]:
mod_calendar_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 958125 entries, 0 to 958489
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   listing_id      958125 non-null  int64
 1   daily_price     958125 non-null  int64
 2   date            958125 non-null  datetime64[ns]
 3   available       958125 non-null  int64
 4   minimum_nights  958125 non-null  int64
 5   maximum_nights  958125 non-null  int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 83.4 MB

In [71]:
#For purposes of this project/the stakeholder, we will drop the adjusted avail, price, min nights, max nights
mod_calendar_data = mod_calendar_data.drop(['available', 'minimum_nights', 'maximum_nights'],
                                          axis = 1)

In [72]:
#Check all columns are integer types
mod_calendar_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 958125 entries, 0 to 958489
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   listing_id   958125 non-null  int64
 1   daily_price  958125 non-null  int64
 2   date         958125 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 61.5 MB

In [ ]:
# mod_calendar_data_id_avail = mod_calendar_data.groupby(['listing_id']).sum()
# mod_calendar_data_id_avail = mod_calendar_data_id_avail.reset_index()
# mod_calendar_data_id_avail = mod_calendar_data_id_avail.drop(['price'], axis = 1)
# mod_calendar_data_id_avail['perc_year_avail'] = mod_calendar_data_id_avail['available'] / 365
# mod_calendar_data_id_avail = mod_calendar_data_id_avail.drop(['available'], axis = 1)
# mod_calendar_data_id_avail

In [ ]:
# mod_calendar_data_id_avail.info()

## Listings Data - 2022

In [73]:
raw_listings_data = pd.read_csv('../Data/AirBnB/Asheville/2021/asheville_listings_2021.csv')
raw_listings_data.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,108061,https://www.airbnb.com/rooms/108061,20211215062309,2021-12-15,Walk to stores/parks/downtown. Fenced yard/Pet...,Walk to town in ten minutes! Monthly rental in...,"I love my neighborhood! Its friendly, easy-goi...",https://a0.muscache.com/pictures/41011975/0cdf...,320564,https://www.airbnb.com/users/show/320564,...,4.79,4.84,4.48,NaN,f,2,2,0,0,0.71
1,155305,https://www.airbnb.com/rooms/155305,20211215062309,2021-12-15,Cottage! BonPaul + Sharky's Hostel,<b>The space</b><br />Private cottage located ...,"We are within easy walk of pubs, breweries, mu...",https://a0.muscache.com/pictures/8880711/cf38d...,746673,https://www.airbnb.com/users/show/746673,...,4.76,4.93,4.53,NaN,t,7,1,2,4,2.75
2,156805,https://www.airbnb.com/rooms/156805,20211215062309,2021-12-15,"Private Room ""Ader"" at BPS Hostel",<b>The space</b><br />Private Rooms at Bon Pau...,"Easy walk to pubs, cafes, bakery, breweries, l...",https://a0.muscache.com/pictures/23447d55-fa7e...,746673,https://www.airbnb.com/users/show/746673,...,4.61,4.84,4.46,NaN,t,7,1,2,4,0.54
3,156926,https://www.airbnb.com/rooms/156926,20211215062309,2021-12-15,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",This is a top bunk in the mixed dorm room<br /...,NaN,https://a0.muscache.com/pictures/98f4e655-c4d6...,746673,https://www.airbnb.com/users/show/746673,...,4.80,4.78,4.78,NaN,t,7,1,2,4,2.36
4,160594,https://www.airbnb.com/rooms/160594,20211215062309,2021-12-15,Historic Grove Park,Come enjoy the beautiful Grove Park neighborho...,NaN,https://a0.muscache.com/pictures/92433837/d340...,769252,https://www.airbnb.com/users/show/769252,...,4.88,4.90,4.85,NaN,f,1,0,1,0,0.46

In [74]:
raw_listings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2626 entries, 0 to 2625
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            2626 non-null   int64
 1   listing_url                                   2626 non-null   object
 2   scrape_id                                     2626 non-null   int64
 3   last_scraped                                  2626 non-null   object
 4   name                                          2626 non-null   object
 5   description                                   2621 non-null   object
 6   neighborhood_overview                         2040 non-null   object
 7   picture_url                                   2626 non-null   object
 8   host_id                                       2626 non-null   int64
 9   host_url                                      2626 non-null   object
 10  host_name                                     2626 non-null   object
 11  host_since                                    2626 non-null   object
 12  host_location                                 2622 non-null   object
 13  host_about                                    1744 non-null   object
 14  host_response_time                            2165 non-null   object
 15  host_response_rate                            2165 non-null   object
 16  host_acceptance_rate                          2249 non-null   object
 17  host_is_superhost                             2626 non-null   object
 18  host_thumbnail_url                            2626 non-null   object
 19  host_picture_url                              2626 non-null   object
 20  host_neighbourhood                            658 non-null    object
 21  host_listings_count                           2626 non-null   int64
 22  host_total_listings_count                     2626 non-null   int64
 23  host_verifications                            2626 non-null   object
 24  host_has_profile_pic                          2626 non-null   object
 25  host_identity_verified                        2626 non-null   object
 26  neighbourhood                                 2041 non-null   object
 27  neighbourhood_cleansed                        2626 non-null   int64
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      2626 non-null   float64
 30  longitude                                     2626 non-null   float64
 31  property_type                                 2626 non-null   object
 32  room_type                                     2626 non-null   object
 33  accommodates                                  2626 non-null   int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                2625 non-null   object
 36  bedrooms                                      2463 non-null   float64
 37  beds                                          2558 non-null   float64
 38  amenities                                     2626 non-null   object
 39  price                                         2626 non-null   object
 40  minimum_nights                                2626 non-null   int64
 41  maximum_nights                                2626 non-null   int64
 42  minimum_minimum_nights                        2626 non-null   int64
 43  maximum_minimum_nights                        2626 non-null   int64
 44  minimum_maximum_nights                        2626 non-null   int64
 45  maximum_maximum_nights                        2626 non-null   int64
 46  minimum_nights_avg_ntm                        2626 non-null   float64
 47  maximum_nights_avg_ntm                        2626 non-null   float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              2626 non-null   object
 50  availability_30                               2626 non-null   int64
 51  availability_60                               2626 non-null   int64
 52  availability_90                               2626 non-null   int64
 53  availability_365                              2626 non-null   int64
 54  calendar_last_scraped                         2626 non-null   object
 55  number_of_reviews                             2626 non-null   int64
 56  number_of_reviews_ltm                         2626 non-null   int64
 57  number_of_reviews_l30d                        2626 non-null   int64
 58  first_review                                  2487 non-null   object
 59  last_review                                   2487 non-null   object
 60  review_scores_rating                          2487 non-null   float64
 61  review_scores_accuracy                        2485 non-null   float64
 62  review_scores_cleanliness                     2485 non-null   float64
 63  review_scores_checkin                         2485 non-null   float64
 64  review_scores_communication                   2485 non-null   float64
 65  review_scores_location                        2485 non-null   float64
 66  review_scores_value                           2485 non-null   float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              2626 non-null   object
 69  calculated_host_listings_count                2626 non-null   int64
 70  calculated_host_listings_count_entire_homes   2626 non-null   int64
 71  calculated_host_listings_count_private_rooms  2626 non-null   int64
 72  calculated_host_listings_count_shared_rooms   2626 non-null   int64
 73  reviews_per_month                             2487 non-null   float64
dtypes: float64(18), int64(24), object(32)
memory usage: 1.5+ MB

In [75]:
#Remove irrelevant review columns
mod_listing_data = raw_listings_data.drop(labels = ['review_scores_accuracy', 
                                                    'review_scores_cleanliness', 
                                                    'review_scores_checkin', 
                                                    'review_scores_communication', 
                                                    'review_scores_location',
                                                    'calendar_updated', 
                                                    'license'], axis = 1)

In [76]:
#Remove irrelevant host columns
mod_listing_data = mod_listing_data.drop(labels = ['host_name', 
                                                   'host_since', 
                                                   'host_location', 
                                                   'host_about', 
                                                   'host_response_time', 
                                                   'host_acceptance_rate',
                                                   'host_thumbnail_url', 
                                                   'host_picture_url', 
                                                   'host_neighbourhood', 
                                                   'host_listings_count', 
                                                   'host_total_listings_count', 
                                                   'host_verifications', 
                                                   'host_has_profile_pic',
                                                   'first_review',
                                                   'last_review'], axis = 1)

In [79]:
#Remove

mod_listing_data = mod_listing_data.drop(labels = ['scrape_id',
                                                  'last_scraped',
                                                  'neighbourhood_cleansed',
                                                  'neighbourhood_group_cleansed',
                                                  'property_type',
                                                  'bathrooms',
                                                  'price',
                                                   'minimum_minimum_nights',
                                                   'maximum_minimum_nights',
                                                   'minimum_maximum_nights',
                                                   'maximum_maximum_nights',
                                                   'minimum_nights_avg_ntm',
                                                   'maximum_nights_avg_ntm',
                                                   'has_availability',
                                                   'availability_30',
                                                   'availability_60',
                                                   'availability_90',
                                                   'availability_365',
                                                   'calendar_last_scraped',
                                                   'number_of_reviews_ltm',
                                                   'number_of_reviews_l30d',
                                                   'calculated_host_listings_count',
                                                   'calculated_host_listings_count_entire_homes',
                                                   'calculated_host_listings_count_private_rooms',
                                                   'calculated_host_listings_count_shared_rooms',
                                                  'neighborhood_overview',
                                                  'reviews_per_month',
                                                  'review_scores_value',
                                                  'host_response_rate',
                                                  'description'], axis = 1)

In [80]:
mod_listing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2626 entries, 0 to 2625
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2626 non-null   int64
 1   listing_url             2626 non-null   object
 2   name                    2626 non-null   object
 3   picture_url             2626 non-null   object
 4   host_id                 2626 non-null   int64
 5   host_url                2626 non-null   object
 6   host_is_superhost       2626 non-null   object
 7   host_identity_verified  2626 non-null   object
 8   neighbourhood           2041 non-null   object
 9   latitude                2626 non-null   float64
 10  longitude               2626 non-null   float64
 11  room_type               2626 non-null   object
 12  accommodates            2626 non-null   int64
 13  bathrooms_text          2625 non-null   object
 14  bedrooms                2463 non-null   float64
 15  beds                    2558 non-null   float64
 16  amenities               2626 non-null   object
 17  minimum_nights          2626 non-null   int64
 18  maximum_nights          2626 non-null   int64
 19  number_of_reviews       2626 non-null   int64
 20  review_scores_rating    2487 non-null   float64
 21  instant_bookable        2626 non-null   object
dtypes: float64(5), int64(6), object(11)
memory usage: 451.5+ KB

In [81]:
#Fill the missing neighborhood data with 'Asheville, North Carolina, United States'
mod_listing_data['neighbourhood'] = mod_listing_data['neighbourhood'].fillna('Asheville, North Carolina, United States')
mod_listing_data['neighbourhood'].isna().sum()

0

In [82]:
mod_listing_data['neighbourhood'].value_counts()
test_neighbor_df = mod_listing_data['neighbourhood'].str.split(",", expand=True)
test_neighbor_df = test_neighbor_df.rename(columns = {0 : 'neighborhood'})
test_neighbor_df = test_neighbor_df.drop(labels = [1, 2, 3, 4], axis = 1)
mod_listing_data = mod_listing_data.join(test_neighbor_df, how = 'outer')
mod_listing_data = mod_listing_data.drop(labels = ['neighbourhood'], axis = 1)
mod_listing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2626 entries, 0 to 2625
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2626 non-null   int64
 1   listing_url             2626 non-null   object
 2   name                    2626 non-null   object
 3   picture_url             2626 non-null   object
 4   host_id                 2626 non-null   int64
 5   host_url                2626 non-null   object
 6   host_is_superhost       2626 non-null   object
 7   host_identity_verified  2626 non-null   object
 8   latitude                2626 non-null   float64
 9   longitude               2626 non-null   float64
 10  room_type               2626 non-null   object
 11  accommodates            2626 non-null   int64
 12  bathrooms_text          2625 non-null   object
 13  bedrooms                2463 non-null   float64
 14  beds                    2558 non-null   float64
 15  amenities               2626 non-null   object
 16  minimum_nights          2626 non-null   int64
 17  maximum_nights          2626 non-null   int64
 18  number_of_reviews       2626 non-null   int64
 19  review_scores_rating    2487 non-null   float64
 20  instant_bookable        2626 non-null   object
 21  neighborhood            2626 non-null   object
dtypes: float64(5), int64(6), object(11)
memory usage: 451.5+ KB

In [83]:
#Remove rows with no bedrooms data
mod_listing_data = mod_listing_data.dropna(subset = ['bedrooms', 
                                                     'beds', 
                                                     'review_scores_rating', 
                                                     'bathrooms_text'], axis = 0)

In [84]:
mod_listing_data.isna().sum()

id                        0
listing_url               0
name                      0
picture_url               0
host_id                   0
host_url                  0
host_is_superhost         0
host_identity_verified    0
latitude                  0
longitude                 0
room_type                 0
accommodates              0
bathrooms_text            0
bedrooms                  0
beds                      0
amenities                 0
minimum_nights            0
maximum_nights            0
number_of_reviews         0
review_scores_rating      0
instant_bookable          0
neighborhood              0
dtype: int64

In [85]:
#Replace the false and true values with 0 and 1
mod_listing_data['host_is_superhost'] = mod_listing_data['host_is_superhost'].replace(['f', 't'],[0, 1])
mod_listing_data['host_is_superhost'].value_counts()

1    1709
0     567
Name: host_is_superhost, dtype: int64

In [86]:
#Replace the false and true values with 0 and 1
mod_listing_data['host_identity_verified'] = mod_listing_data['host_identity_verified'].replace(['f', 't'],[0, 1])
mod_listing_data['host_identity_verified'].value_counts()

1    1805
0     471
Name: host_identity_verified, dtype: int64

In [87]:
#Replace the false and true values with 0 and 1
mod_listing_data['instant_bookable'] = mod_listing_data['instant_bookable'].replace(['f', 't'],[0, 1])
mod_listing_data['instant_bookable'].value_counts()

1    1325
0     951
Name: instant_bookable, dtype: int64

In [88]:
mod_listing_data['bathrooms_text'].value_counts()

1 bath              1125
2 baths              481
1 private bath       201
3 baths              102
2.5 baths            101
1.5 baths             92
1 shared bath         68
3.5 baths             32
4 baths               27
1.5 shared baths       9
4.5 baths              8
2 shared baths         7
5 baths                7
2.5 shared baths       6
6 baths                4
5.5 baths              3
0 baths                1
7 baths                1
8 baths                1
Name: bathrooms_text, dtype: int64

In [89]:
mod_listing_data['instant_bookable'].value_counts()

1    1325
0     951
Name: instant_bookable, dtype: int64

In [90]:
mod_listing_data['beds'].value_counts()

1.0     781
2.0     686
3.0     376
4.0     196
5.0     100
6.0      69
7.0      27
8.0      14
9.0       9
11.0      7
12.0      4
10.0      3
21.0      2
13.0      1
15.0      1
Name: beds, dtype: int64

In [91]:
mod_listing_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2276 entries, 0 to 2618
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2276 non-null   int64
 1   listing_url             2276 non-null   object
 2   name                    2276 non-null   object
 3   picture_url             2276 non-null   object
 4   host_id                 2276 non-null   int64
 5   host_url                2276 non-null   object
 6   host_is_superhost       2276 non-null   int64
 7   host_identity_verified  2276 non-null   int64
 8   latitude                2276 non-null   float64
 9   longitude               2276 non-null   float64
 10  room_type               2276 non-null   object
 11  accommodates            2276 non-null   int64
 12  bathrooms_text          2276 non-null   object
 13  bedrooms                2276 non-null   float64
 14  beds                    2276 non-null   float64
 15  amenities               2276 non-null   object
 16  minimum_nights          2276 non-null   int64
 17  maximum_nights          2276 non-null   int64
 18  number_of_reviews       2276 non-null   int64
 19  review_scores_rating    2276 non-null   float64
 20  instant_bookable        2276 non-null   int64
 21  neighborhood            2276 non-null   object
dtypes: float64(5), int64(9), object(8)
memory usage: 409.0+ KB

In [92]:
mod_listing_data['bathrooms_text'].isna().sum()

0

In [93]:
mod_listing_data['bathrooms_text'].value_counts()

1 bath              1125
2 baths              481
1 private bath       201
3 baths              102
2.5 baths            101
1.5 baths             92
1 shared bath         68
3.5 baths             32
4 baths               27
1.5 shared baths       9
4.5 baths              8
2 shared baths         7
5 baths                7
2.5 shared baths       6
6 baths                4
5.5 baths              3
0 baths                1
7 baths                1
8 baths                1
Name: bathrooms_text, dtype: int64

In [94]:
mod_listing_data['bathrooms_text'] = mod_listing_data['bathrooms_text'].replace(['Shared half-bath', 'Half-bath', 
                                                                                'Private half-bath'],
                                                                                 [0.5, 0.5, 0.5])

In [95]:
mod_listing_data['bathrooms_text'].isna().sum()

0

In [96]:
mod_listing_data['bathrooms_text'].value_counts()

1 bath              1125
2 baths              481
1 private bath       201
3 baths              102
2.5 baths            101
1.5 baths             92
1 shared bath         68
3.5 baths             32
4 baths               27
1.5 shared baths       9
4.5 baths              8
2 shared baths         7
5 baths                7
2.5 shared baths       6
6 baths                4
5.5 baths              3
0 baths                1
7 baths                1
8 baths                1
Name: bathrooms_text, dtype: int64

In [97]:
# mod_listing_data['bathrooms_text'] = mod_listing_data['bathrooms_text'].str.split(" ", n = 1, expand = True)

test_df = mod_listing_data['bathrooms_text'].str.split(" ", expand=True)
test_df = test_df.rename(columns = {0 : 'bathrooms'})
test_df = test_df.drop(labels = [1, 2], axis = 1)
mod_listing_data = mod_listing_data.join(test_df, how = 'outer')
mod_listing_data = mod_listing_data.drop(labels = ['bathrooms_text'], axis = 1)
mod_listing_data['bathrooms'] = mod_listing_data['bathrooms'].fillna(0.5)
mod_listing_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2276 entries, 0 to 2618
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2276 non-null   int64
 1   listing_url             2276 non-null   object
 2   name                    2276 non-null   object
 3   picture_url             2276 non-null   object
 4   host_id                 2276 non-null   int64
 5   host_url                2276 non-null   object
 6   host_is_superhost       2276 non-null   int64
 7   host_identity_verified  2276 non-null   int64
 8   latitude                2276 non-null   float64
 9   longitude               2276 non-null   float64
 10  room_type               2276 non-null   object
 11  accommodates            2276 non-null   int64
 12  bedrooms                2276 non-null   float64
 13  beds                    2276 non-null   float64
 14  amenities               2276 non-null   object
 15  minimum_nights          2276 non-null   int64
 16  maximum_nights          2276 non-null   int64
 17  number_of_reviews       2276 non-null   int64
 18  review_scores_rating    2276 non-null   float64
 19  instant_bookable        2276 non-null   int64
 20  neighborhood            2276 non-null   object
 21  bathrooms               2276 non-null   object
dtypes: float64(5), int64(9), object(8)
memory usage: 473.5+ KB

In [98]:
target_amenities = ['Air conditioning', 'Wifi', 'TV', 'Kitchen', 'Washer', 'Dryer', 'Heating']

In [99]:
def add_amenity_column(amenity_name):
    mod_listing_data[amenity_name] = mod_listing_data['amenities'].str.contains(amenity_name, regex=False)
    mod_listing_data[amenity_name] = mod_listing_data[amenity_name].replace([False, True],[0, 1])

In [100]:
add_amenity_column(target_amenities[0])
add_amenity_column(target_amenities[1])
add_amenity_column(target_amenities[2])
add_amenity_column(target_amenities[3])
add_amenity_column(target_amenities[4])
add_amenity_column(target_amenities[5])
add_amenity_column(target_amenities[6])

In [101]:
mod_listing_data = mod_listing_data.drop(['amenities'], axis = 1)

In [102]:
mod_listing_data['listing_id'] = mod_listing_data['id']
mod_listing_data = mod_listing_data.drop(['id'], axis = 1)
column_to_move = mod_listing_data.pop('listing_id')
mod_listing_data.insert(0, 'listing_id', column_to_move)
mod_listing_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2276 entries, 0 to 2618
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   listing_id              2276 non-null   int64
 1   listing_url             2276 non-null   object
 2   name                    2276 non-null   object
 3   picture_url             2276 non-null   object
 4   host_id                 2276 non-null   int64
 5   host_url                2276 non-null   object
 6   host_is_superhost       2276 non-null   int64
 7   host_identity_verified  2276 non-null   int64
 8   latitude                2276 non-null   float64
 9   longitude               2276 non-null   float64
 10  room_type               2276 non-null   object
 11  accommodates            2276 non-null   int64
 12  bedrooms                2276 non-null   float64
 13  beds                    2276 non-null   float64
 14  minimum_nights          2276 non-null   int64
 15  maximum_nights          2276 non-null   int64
 16  number_of_reviews       2276 non-null   int64
 17  review_scores_rating    2276 non-null   float64
 18  instant_bookable        2276 non-null   int64
 19  neighborhood            2276 non-null   object
 20  bathrooms               2276 non-null   object
 21  Air conditioning        2276 non-null   int64
 22  Wifi                    2276 non-null   int64
 23  TV                      2276 non-null   int64
 24  Kitchen                 2276 non-null   int64
 25  Washer                  2276 non-null   int64
 26  Dryer                   2276 non-null   int64
 27  Heating                 2276 non-null   int64
dtypes: float64(5), int64(16), object(7)
memory usage: 580.2+ KB

## Combine Calendar Data and Listings Data

In [103]:
mod_calendar_data

        listing_id  daily_price       date
0           881707           93 2021-12-15
1           910737          156 2021-12-15
2           910737          156 2021-12-16
3           910737          135 2021-12-17
4           910737          135 2021-12-18
...            ...          ...        ...
958485    51875440          807 2022-12-10
958486    51875440          718 2022-12-11
958487    51875440          706 2022-12-12
958488    51875440          696 2022-12-13
958489    51875440          687 2022-12-14

[958125 rows x 3 columns]

In [104]:
mod_calendar_data['listing_id']

0           881707
1           910737
2           910737
3           910737
4           910737
            ...
958485    51875440
958486    51875440
958487    51875440
958488    51875440
958489    51875440
Name: listing_id, Length: 958125, dtype: int64

In [105]:
print(mod_listing_data.columns)
mod_calendar_data.columns

Index(['listing_id', 'listing_url', 'name', 'picture_url', 'host_id',
       'host_url', 'host_is_superhost', 'host_identity_verified', 'latitude',
       'longitude', 'room_type', 'accommodates', 'bedrooms', 'beds',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'review_scores_rating', 'instant_bookable', 'neighborhood', 'bathrooms',
       'Air conditioning', 'Wifi', 'TV', 'Kitchen', 'Washer', 'Dryer',
       'Heating'],
      dtype='object')

Index(['listing_id', 'daily_price', 'date'], dtype='object')

In [106]:
mod_calendar_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 958125 entries, 0 to 958489
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   listing_id   958125 non-null  int64
 1   daily_price  958125 non-null  int64
 2   date         958125 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 61.5 MB

In [107]:
mod_listing_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2276 entries, 0 to 2618
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   listing_id              2276 non-null   int64
 1   listing_url             2276 non-null   object
 2   name                    2276 non-null   object
 3   picture_url             2276 non-null   object
 4   host_id                 2276 non-null   int64
 5   host_url                2276 non-null   object
 6   host_is_superhost       2276 non-null   int64
 7   host_identity_verified  2276 non-null   int64
 8   latitude                2276 non-null   float64
 9   longitude               2276 non-null   float64
 10  room_type               2276 non-null   object
 11  accommodates            2276 non-null   int64
 12  bedrooms                2276 non-null   float64
 13  beds                    2276 non-null   float64
 14  minimum_nights          2276 non-null   int64
 15  maximum_nights          2276 non-null   int64
 16  number_of_reviews       2276 non-null   int64
 17  review_scores_rating    2276 non-null   float64
 18  instant_bookable        2276 non-null   int64
 19  neighborhood            2276 non-null   object
 20  bathrooms               2276 non-null   object
 21  Air conditioning        2276 non-null   int64
 22  Wifi                    2276 non-null   int64
 23  TV                      2276 non-null   int64
 24  Kitchen                 2276 non-null   int64
 25  Washer                  2276 non-null   int64
 26  Dryer                   2276 non-null   int64
 27  Heating                 2276 non-null   int64
dtypes: float64(5), int64(16), object(7)
memory usage: 580.2+ KB

In [108]:
asheville_data = pd.merge(mod_listing_data, mod_calendar_data, how = 'left', on = 'listing_id')
asheville_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 830376 entries, 0 to 830375
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   listing_id              830376 non-null  int64
 1   listing_url             830376 non-null  object
 2   name                    830376 non-null  object
 3   picture_url             830376 non-null  object
 4   host_id                 830376 non-null  int64
 5   host_url                830376 non-null  object
 6   host_is_superhost       830376 non-null  int64
 7   host_identity_verified  830376 non-null  int64
 8   latitude                830376 non-null  float64
 9   longitude               830376 non-null  float64
 10  room_type               830376 non-null  object
 11  accommodates            830376 non-null  int64
 12  bedrooms                830376 non-null  float64
 13  beds                    830376 non-null  float64
 14  minimum_nights          830376 non-null  int64
 15  maximum_nights          830376 non-null  int64
 16  number_of_reviews       830376 non-null  int64
 17  review_scores_rating    830376 non-null  float64
 18  instant_bookable        830376 non-null  int64
 19  neighborhood            830376 non-null  object
 20  bathrooms               830376 non-null  object
 21  Air conditioning        830376 non-null  int64
 22  Wifi                    830376 non-null  int64
 23  TV                      830376 non-null  int64
 24  Kitchen                 830376 non-null  int64
 25  Washer                  830376 non-null  int64
 26  Dryer                   830376 non-null  int64
 27  Heating                 830376 non-null  int64
 28  daily_price             830375 non-null  float64
 29  date                    830375 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(16), object(7)
memory usage: 196.4+ MB

In [114]:
asheville_data = asheville_data.dropna()

In [116]:
asheville_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 830375 entries, 0 to 830375
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   listing_id              830375 non-null  int64
 1   listing_url             830375 non-null  object
 2   name                    830375 non-null  object
 3   picture_url             830375 non-null  object
 4   host_id                 830375 non-null  int64
 5   host_url                830375 non-null  object
 6   host_is_superhost       830375 non-null  int64
 7   host_identity_verified  830375 non-null  int64
 8   latitude                830375 non-null  float64
 9   longitude               830375 non-null  float64
 10  room_type               830375 non-null  object
 11  accommodates            830375 non-null  int64
 12  bedrooms                830375 non-null  float64
 13  beds                    830375 non-null  float64
 14  minimum_nights          830375 non-null  int64
 15  maximum_nights          830375 non-null  int64
 16  number_of_reviews       830375 non-null  int64
 17  review_scores_rating    830375 non-null  float64
 18  instant_bookable        830375 non-null  int64
 19  neighborhood            830375 non-null  object
 20  bathrooms               830375 non-null  object
 21  Air conditioning        830375 non-null  int64
 22  Wifi                    830375 non-null  int64
 23  TV                      830375 non-null  int64
 24  Kitchen                 830375 non-null  int64
 25  Washer                  830375 non-null  int64
 26  Dryer                   830375 non-null  int64
 27  Heating                 830375 non-null  int64
 28  daily_price             830375 non-null  float64
 29  date                    830375 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(16), object(7)
memory usage: 196.4+ MB